@import "tailwindcss";

@font-face {
  font-family: "QuincyCF";
  src: url("/fonts/QuincyCF-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lovato";
  src: url("/fonts/LovatoRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-quincy {
    font-family: "QuincyCF", serif;
  }

  .font-lovato {
    font-family: "Lovato", serif;
  }
}
